---
layout: default
---
<div id="navi">
  <ul>
     <li><a href="#home">Home</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#work">Work Projects</a></li>
    <li><a href="#personal">Personal Projects</a></li>
    <li><a href="#university">University Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>
<header class="color-1" id="home">
  <div id="headerContainer">
    <h1>Severi Haverila<span>Portfolio</span></h1>
    <div/>
</header>
<section class="color-1" id="about">
  <h2>About Me</h2>
  {% for post in site.categories.about %}
    {{post}}
  {% endfor %}
</section>
<section class="section-border-triangles color-2" id="work">
  <h2>Work</h2>
  {% for post in site.categories.work %}
    {{post}}
  {% endfor %}
</section>

<section class="section-border-triangles  color-1" id="personal">
  <h2>Personal Projects</h2>
  {% for post in site.categories.personal %}
    {{post}}
  {% endfor %}
</section>

<section class="section-border-triangles  color-2" id="university">
  <h2>University Projects</h2>
  {% for post in site.categories.university %}
    {{post}}
  {% endfor %}
</section>

<section class="section-border-triangles color-1" id="contact">
  <h2>Contact Me!</h2>
  <div class="col-3">
    <div class="column">
      <a href="mailto:severi@haverila.com">severi@haverila.com</a>
    </div>
    <div class="column">
          <a target="_blank" href="https://fi.linkedin.com/pub/severi-haverila/57/504/8b">LinkedIn</a>
    </div>
    <div class="column">
      <a target="_blank" href="https://github.com/severi">Github</a>
    </div>
    </div>
</section>
