<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Severi Haverila</title>
    <meta name="description" content="Severi Haverilas personal web page" />
    <meta name="keywords" content="developer, programming, linkedin, github, portfolio" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/vendor/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="color-1">
	<h1>Severi Haverila<span>Welcome</span></h1>
        <ul>
          <li><a href="#about">About Me</a></li>
          <li><a href="#work">Work Projects</a></li>
          <li><a href="#personal">Personal Projects</a></li>
          <li><a href="#university">University Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </header>
      <section class="color-2" id="about">
        <h2>About Me</h2>
        <div class="project col-1">
          <div class="column text">
            <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
          </div>
        </div>
      </section>
      <section class="ss-style-diagonal-2 color-4" id="work">
        <h2>Work</h2>
        <div class="project col-1">
          <h4>Project X</h4>
          <div class="column text">
            <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
          </div>
        </div>
        <div class="project col-2">
          <h4>Project Y</h4>
	  <div class="column">
	    <span class="icon icon-images"></span>
	  </div>
	  <div class="column text">
	    <h2>Objectively innovate empowered manufactured products</h2>
	    <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
	  </div>
        </div>
        <div class="project col-1">
          <h4>Project Y</h4>
          <div class="column text">
            <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
          </div>
        </div>
      </section>
      
      <section class="ss-style-diagonal-1 color-3" id="personal">
        <h2>Personal Projects</h2>
        <div class="project col-2">
          <h4>Project Y2</h4>
	  <div class="column">
	    <span class="icon icon-images"></span>
	  </div>
	  <div class="column text">
	    <h2>Objectively innovate empowered manufactured products</h2>
	    <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
	  </div>
        </div>
      </section>

      <section class="ss-style-diagonal-2 color-1" id="university">
        <h2>University Projects</h2>
        <div class="project col-2">
          <h4>Project Y2</h4>
	  <div class="column">
	    <span class="icon icon-images"></span>
	  </div>
	  <div class="column text">
	    <h2>Objectively innovate empowered manufactured products</h2>
	    <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>
	  </div>
        </div>
      </section>
      
      <section class="color-2" id="contact">
        <h2>Contact Me!</h2>
        <p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors</p>        
      </section>
      </div><!-- /container -->
  </body>
</html>
